mat-toolbar {
  background-color: #abcdef;
}

.header {
  display: flex;
  justify-content: space-between;

  a {
    cursor: pointer;
  }
}

// .right-side-container {
//   display: flex;
//   align-items: center;
// }

.logout-container {
  margin-left: 64px;
}
