span {
  background-color: rgba(110, 230, 0, 0.2);
  padding: 12px;
  border-radius: 8px;
}

.main-message-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;

  h3 {
    margin: 0;
  }
}

.reply-button {
  height: 24px;
  font-size: 12px;
  line-height: 0;
  margin-left: 16px;
}

.message-responses {
  margin: 32px;
}

.horizontal-line {
  margin-top: 16px;
}

@media (max-width: 1050px) {
  span {
    padding: 2px;
  }

  .message-responses {
    margin: 32px 4px 32px 4px;
  }
}
