<div class="form-container">
  <div class="form-headline">
    <h2>{{ loginMode ? 'Log In' : 'Sing Up' }} to CommPlat</h2>
  </div>
  <div class="guest-credentials">
    <span class="guest-credentials-headline">Entry for guests:</span>
    <span>E-Mail address: abc@abc.abc</span>
    <p>Password: 12345678</p>
  </div>
  <div class="loading-container" *ngIf="loading">
    <p>Loading...</p>
  </div>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" ngNativeValidate class="auth-form" *ngIf="!loading">
    <mat-form-field appearance="fill">
      <mat-label>E-Mail address</mat-label>
      <input type="email" name="email" ngModel matInput placeholder="E-Mail" #email="ngModel" required email>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" name="password" ngModel matInput placeholder="Password" #password="ngModel" required
        password minlength="8">
    </mat-form-field>
    <div class="all-buttons">
      <div class="submit-button">
        <button mat-raised-button color="primary" [disabled]="!myForm.valid" type="submit">{{ loginMode ? 'Log In' :
          'Sing Up' }}</button>
      </div>
      <div class="switch-button">
        <button mat-raised-button color="basic" type="button" (click)="onSwitchMode()">Switch to {{ loginMode ? 'Sing Up' : 'Login' }}</button>
      </div>
    </div>
  </form>
</div>
