.form-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.all-buttons {
  display: flex;
  justify-content: space-between;
}
