/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

app-channel {
  width: 100%;
}

mat-sidenav {
  .mat-drawer-inner-container {
      overflow-y: scroll !important;
  }
}

.mat-tooltip {
  font-size: 12px !important;
}

.padding-left-and-right {
  padding-left: 128px;
  padding-right: 128px;

  @media (max-width: 1050px) {
    padding: initial;
  }
}
